<ion-view view-title="Remote">
  <ion-content>
    <div class="row center">
      <div class="col">
        <button class="button button-light" ng-click="keypress('back')">
          <i class="icon ion-android-arrow-back"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('up')">
          <i class="icon ion-chevron-up"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('home')">
          <i class="icon ion-android-home"></i>
        </button>
      </div>
    </div>
    <div class="row center">
      <div class="col">
        <button class="button button-light" ng-click="keypress('left')">
          <i class="icon ion-chevron-left"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('select')">
          <i class="icon ion-ios-circle-outline"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('right')">
          <i class="icon ion-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="row center">
      <div class="col">
        <button class="button button-light" ng-click="keypress('instantreplay')">
          <i class="icon ion-ios-undo"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('down')">
          <i class="icon ion-chevron-down"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('info')">
          <i class="icon ion-asterisk"></i>
        </button>
      </div>
    </div>
    <div class="row center">
      <div class="col">
        <button class="button button-light" ng-click="keypress('rev')">
          <i class="icon ion-ios-rewind"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('play')">
          <i class="icon ion-ios-play"></i>
          <i class="icon ion-ios-pause"></i>
        </button>
      </div>
      <div class="col">
        <button class="button button-light" ng-click="keypress('fwd')">
          <i class="icon ion-ios-fastforward"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
